body {
  font-family: "poppins", sans-serif;
  display: flex;
  height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-image {
  flex: 1;
  background-image: url(./background.JPG);
  background-size: cover;
  background-position: 90%;
}

.container-logo {
  position: relative;
  top: 10%;
  display: flex;
  justify-content: center;
  gap: 20px;
  padding: 1vw;
  /* background-color: rgba(46, 56, 71, 0.1); */
}

/* .container-logo img {
  display: inline-block;
} */

.container-logo h1 {
  text-align: center;
  font-weight: 200;
}

.container-form {
  display: flex;
  flex-direction: column;
  flex: 2;
  background-color: rgba (182, 190, 203, 1);
}

.form-header,
.submit {
  flex: 2;
  border: 1px solid red;
}

.form {
  flex: 3;
}
